//Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');

//Variables
$primaryColor: #4697B9;
$secondaryColor: #4951ec;
$tertiaryColor: #87adf3;
$textColor: #0B0754;

//Mixin
@mixin tombol {
    display: inline-block;
    color: white;
    background-color: $primaryColor;
    border-radius: 2em;
    padding: 0.4em 1.5em;
    text-decoration: none;

}

//Styles
body {
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
}



//navbar
.nav-custom {
    background-color: #0B0754;

    .navbar-brand {
        img {
            width: 35px;
            height: 35px;
            margin-top: -7px;
        }

        span {
            color: $primaryColor;
            font-weight: 700;
            font-size: 1.4rem;
            margin-left: 0.5em;
        }
    }

    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $primaryColor;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-left: 2.4em;
                    transition: 0.3s color ease;

                    &:hover {
                        font-weight: 700;
                        color: darken($secondaryColor, 50%);
                    }
                }

                .btn-signup {
                    background-color: $tertiaryColor;
                    color: white;
                    border-radius: 2em;
                    border: 0;
                    padding-left: 1.5em;
                    padding-right: 1.5em;
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        margin-top: -1em;

        .navbar-nav {
            background-color: rgb(231, 231, 231);
            padding: 1em;
            margin-left: -1em;
            margin-top: 0.5em;

        }
    }
}

footer {
    background-color: #dde8fe;
    color: $primaryColor;
    text-align: center;
    font-weight: 700;

    a {
        text-decoration: none;
        color: $primaryColor;
    }
}

#loginAdmin {
    h5 {
        font-weight: 700;
        color: $primaryColor;
    }

    input {
        border-color: $primaryColor;
    }

    .btn-login {
        @include tombol;
    }
}

#detail-artikel {
    .custom-header {
        h2 {
            font-weight: 700;
            color: $primaryColor;
            line-height: 0.5em;
        }

        h3 {
            color: $textColor;
            margin-bottom: 1em;
        }
    }

    .card-shadow {
        box-shadow: 6px 5px 7px rgba($tertiaryColor, 0.4);

        .gambar-artikel {
            margin-top: 1em;
        }

        h2 {
            margin-top: 2em;
            font-weight: 700;
            color: $primaryColor;
        }

        p {
            font-size: 12pt;
            text-align: justify;
        }

        a {
            display: inline-block;
            color: white;
            background-color: $primaryColor;
            border-radius: 2em;
            padding: 0.5em 1em;
            text-decoration: none;
            font-size: 10pt;
            margin-bottom: 0.5em;
            border: 1.5px solid transparent;
            transition: 0.5s ease;

            &:hover {
                color: $primaryColor;
                border: 1.5px solid $primaryColor;
                background-color: transparent;
            }
        }
    }
}